* {
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(
    90deg, 
    rgb(26, 217, 131) 0%, 
    rgba(0,212, 255, 1) 100%);
}

.container {
    text-align: center;
    padding: 2em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container > p {
    margin: .5em auto;
    width: 80vw;
}

select {
    background-color: #ffff;
    min-width: 40vw;
    min-height: 30%;
    margin: .5em auto;
    border-radius: 5px;
}

select > option {
    text-align: center;
}

.button {
    background-color: #41b883;
    color: #ffff;
    border: none;
    padding: .7em;
    border-radius: 5px;
    font-weight: 700;
    margin: auto;
    cursor: pointer;
}

.custom-text__container {
    width: 40vw;
    background-color: #ffff;
    padding: 1.5em;
    border-radius: 5px;
    margin: 1em auto;
}

.custom-text__container > textarea {
    width: 100%;
    height: 100px;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

.close {
    float: right;
    text-align: right;
    cursor: pointer;
}


/* ----- box images ------ */

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-top: 2em;
}

.expression-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.expression-box img {
    width: 100%;
    object-fit: cover;
    height: 20vh;
}

.info {
    align-items: center; 
    background: #ffff;
    padding: .5em;
}



@media screen and (max-width: 414px) {
    select {
        min-width: 80vw;
    }
    .custom-text__container {
        width: 80vw; 
    }
    main {
        grid-template-columns: 1fr;
        margin-top: 1em;
    }
}

@media screen and (min-width: 415px) and (max-width: 820px) {
    select {
        min-width: 60vw;
    }
    .container > p {
        width: 40vw;
    }
    .custom-text__container {
        width: 60vw; 
    }
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}